.navbar {
  padding: 0rem 1rem !important;
  height: 56px;
}

.navbar-brand {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  font-stretch: expanded;
  text-transform: uppercase;;
}

li {
  //font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  margin: 0;
  padding: 0 12px 0 0;
}

li .nav-link:hover {
    color: lime;
}

.dropdown-menu {
  background: #343a40!important;
  min-width: 14rem;
  border-top: none;

  a:hover {
    background: #343a40!important;
    color: lime;
  }
  a {
    color: white;
  }
}

footer {
  margin: 20px 30px;
}