<div class="container">
	<h1>
			About
	</h1>
	<div class="row">
		<div class="col-md-11">
			<h2>
				Providing Programs for Education 
			</h2>
			<p>
				Code Skills Academy™ has developed comprehensive curriculum based on 
				current best practices at major corporations in the United States, 
				utilizing industry-standard tools. Our courses are based on our professional 
				experience as development leads, full stack developers, UX designers. We have served 
				as curriculum developers, instructors and facilitators for professional courses 
				delivered at and for <strong>Accenture</strong>, <strong>Macromedia</strong> 
				and <strong>other organizations</strong>.
			</p>
			<p>
				Code Skills Academy™ partners with professional development, continuing education, and 
				enrichment programs, universities, colleges and schools to offer their students courses 
				that provide the foundational skill sets needed to develop a career in technology.
			</p>
			<hr>
			<p>
				<strong>Creative Digital Media, Inc. </strong> has been providing software development  
				for over 25 years to the corporate world, and has developed and presented hands-on curriculum 
				and courses, both in-person and online, for <strong>Accenture</strong>, 
				<strong>American Express</strong>, <strong>The Pratt Institute</strong>, 
				<strong>New York University</strong>, <strong>Macromedia</strong> 
				and <strong>Florida Atlantic University</strong>.
			</p>
			<p>
				In <strong>Miami</strong>, the company has developed and delivered hybrid curriculum to the 
				local community, including computer skills training for <strong>Miami Dade Public Schools</strong> 
				and <strong>Jobs For Miami</strong>. 
			</p>
			<p>
				For more information, please visit: <a href="http://www.cdmdesignsolutions.com">CDM Design Solutions</a>
			</p>
		</div>
	</div>
</div>
