<div class="container">
	<h1>
			About
	</h1>
	<div class="row">
		<div class="col-md-11">
			<p>
				Code Skills Academy™ has developed a variety of curricula based on 
				current best practices at major corporations in the United States, 
				utilizing industry-standard tools. The courses are based on our professional 
				experiences as development leads, full stack developers, UX designers. We have served 
				as curriculum developers, instructors and facilitators for professional courses 
				delivered at and for <strong>Accenture</strong>, <strong>Macromedia</strong> 
				and <strong>other organizations</strong>.
			</p>
			<p>
				<strong>Richard Sprince</strong> has been in the software development and 
				training business for 25+ years within the corporate world. As a curriculum developer and 
				training instructor, he has developed and presented hands-on curriculum 
				and courses, both in-person and online, for <strong>Accenture</strong>, 
				<strong>American Express</strong>, <strong>The Pratt Institute</strong>, 
				<strong>New York University</strong>, <strong>Macromedia</strong> 
				and <strong>Florida Atlantic University</strong>.
			</p>
			<p>
				In <strong>Miami</strong>, he has developed and delivered hybrid curriculum to the 
				local community, including computer skills training for <strong>Miami Dade Public Schools</strong> 
				and <strong>Jobs For Miami</strong>, and has served as a volunteer instructor in the K-5 setting. 
			</p>
		</div>
	</div>
</div>
