<div class="container">
	<h1>UX & UI Design</h1>
	<div class="row">
		<div class="col-md-6">
			<p>
				In this track, participants learn about User Experience (UX) and  User Interface (UI) Design, as part of <strong>User Centered Design</strong>. 
				The modern software design focus on the user, as well as the iterative cycle of "design, review & revise", 
				is reviewed. The three basic criteria of <strong>usability</strong> will be discussed. 
			</p>
			<p>	
				Participants will learn to  about software design within the context of a standard product development process and its phases:
			</p>
			<ul class="bullets">
				<li>Concept Development</li>
				<li>Design & Prototype</li>
				<li>Production</li>
				<li>Post Production & Follow Up</li>
			</ul>			
		</div>
		<div class="col-md-6">
			<img src="assets/images/ux-vs-ui.png" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-11">
			<p>
				Participants will learn how to create <strong>storyboards</strong>, <strong>flow charts</strong>, 
				<strong>wireframes</strong>, <strong>mockups</strong>, <strong>personas</strong> and <strong>user journeys</strong>. 
				Industry standard tools, such as <strong>Invision</strong>, <strong>Adobe XD</strong>, <strong>Balsamiq</strong>, 
				and <strong>Adobe Photoshop</strong> will be reviewed. Participants will go through the design process 
				and create the deliverables needed for their own course project.
			</p>
		</div>
	</div>
</div>
