<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h1>Contact</h1>
			<p>
				Please let us know how we can be of assistance to your program or
				individual career growth.
			</p>
			<mat-form-field appearance="fill">
				<mat-label>Enter name</mat-label>
				<input matInput 
					name="form.name"
					[(ngModel)]="form.name">
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>Enter email</mat-label>
				<input matInput 
					name="form.email"
					[(ngModel)]="form.email">
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>Enter phone</mat-label>
				<input matInput 
					name="form.phone"
					[(ngModel)]="form.phone">
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>Enter interest</mat-label>
				<mat-select name="form.interest" [(ngModel)]="form.interest">
					<mat-option 
						*ngFor="let interest of interests" 
						[value]="interest">
						{{interest}}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>Enter comments</mat-label>
				<textarea matInput 
					placeholder="Please provide more information"
					name="form.comments"
					[(ngModel)]="form.comments">
				</textarea>
			</mat-form-field>

			<button mat-raised-button 
				(click)="submitForm()" 
				color="primary">
				Submit
			</button>

			
		</div>
	</div>

</div>
