<div class="container">
	<h1>
		Game Development
	</h1>
	<div class="row">
		<div class="col-md-8">
			<h2>
				Game Writing, Coding & Marketing with Roblox
			</h2>
			<p>
				The curriculum focuses on development for the popular gaming platform, 
				Roblox, used worldwide and a favorite of millions. This course incorporates 
				creative writing, game coding with the Lua scripting language, as well as 
				project management, marketing, and collaboration. The application development 
				process is discussed and implemented, utilizing concept writing, storyboarding, 
				wireframing and mockups. Participants work together as a team to develop their own games while building 
				tangible skills.
			</p>
			<h2>
				Benefits
			</h2>
			<p>Participants will learn:</p>
			<ul class="bullets">
				<li>Project Planning, Organizational Thinking</li>
				<li>Creative Writing and Storytelling</li>
				<li>Coding & Problem Solving</li>
				<li>Teamwork & Collaboration</li>
			</ul>
		</div>
		<div class="col-md-4">
			<img src="assets/images/roblox.png" />
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
			<h2>
				Course Outline
			</h2>
			<ul>
				<li>
					<strong>Creative Writing</strong><br />
					How to come up with an idea for a game and develop it.
				</li>
				<li>
					<strong>The Development Process</strong><br />
					The application development process is discussed, utilizing concept writing, storyboarding, wire framing and mockups.
				</li>
				<li>
					<strong>Game Coding with Lua</strong><br />
					Learn coding to drop and move objects in your game, and allow interaction with players.
				</li>
				<li>
					<strong>Project Management Skills</strong><br />
					We discuss where to start, how to keep track of your ideas, and what to do next, as well as tools that will help you do it.
				</li>
				<li>
					<strong>Revenue Opportunities</strong><br />
					We will discuss options for generating revenue inside the Roblox environment as well as with ancillary media and products.
				</li>
				<li>
					<strong>Marketing</strong><br />
					Once your game is ready (maybe a little before), you need to let the world know it. Options available on roblox.com as well as other social media channels will be discussed.
				</li>
				<li>
					<strong>Team Work and Collaboration</strong><br />
					Game coding is a form of software development, which requires multiple skill sets. Working with a team 
					requires different roles and responsibilities. Teams must learn to work together. Participants work together as a team to develop their own games while building tangible skills.
				</li>
			</ul>

		</div>
	</div>

	
</div>
