<div class="container">
    <h1>Full Stack Development</h1>
    <p>Full stack development refers to the developers' ability to design 
        and implement software on all layers of the modern web stack, including "front end", or web client application software, and the "back end", which refers to server or database applications.
    </p>
	<div class="row">
		<div class="col-md-8">
			<h2 class="featurette-heading">Front End Development</h2>
			<p>
				This hands on, project based training program covers all the current best 
				practices and major tools for front end development currently in use at 
				major corporations. The centerpiece of the program is development with 
				Angular, the popular Javascript framework, using the Angular CLI ("command line interface"). 
				Participants will learn how to create new applications, components, services, 
				modules and more from the command line. As they build out their app, they will 
				learn about routing, http requests, and displaying data to the user. 
				Reactive programming techniques are also discussed. 
			</p>
			<p>	
				Additional tools and techniques such as HTML5, SASS/CSS, Angular Material, and Jasmine 
				(unit testing) are utilized. Participants will learn best practices and techniques of 
				using Git for source control and how to follow an Agile development process. 
				Finally, participants will be introduced to React, the hugely popular Javascript library.
		</p>
		</div>
		<div class="col-md-4 text-center align-self-center">
			<img src="assets/images/angular.png" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 text-center align-self-center">
			<img class="logo-node" src="assets/images/node.png" />
		</div>

		<div class="col-md-8">
			<h2>
				Back End Development
			</h2>
			<p>
				In this course, participants will expand on their knowledge of Angular and acquire 
				skills with tools that will allow them to work on both the front end and the back end 
				applications that support them. The MEAN stack refers to Mongo, Express, Angular and Node. 
				Expanding on the "Front End Developer" track, participants will explore how to integrate 
				data into their Angular applications using industry standard tools. Mongo is a lightweight, 
				"No-SQL" database popular with front end developers. To access their data, participants will 
				build a Node middleware application. The Node app integrates with the popular plugin Express, 
				to allow routing, and Mongoose for data modeling and integration. 
			</p>
			<p>	
				Additional topics will include alternative approaches, including the NERP stack (Node, Express, 
				React, PostreSQL),  which utilizes React (instead of Angular), data access with Node and Express, 
				and data access with PostgreSQL. AWS Lambdas with Node will also be explored.
			</p>
		</div>

	</div>
</div>
